/* Color */

$blue-1:#0293DE;
$blue-2:#0D9CE7;
$blue-3:#0678D0;
$blue-4:#0081E4;
$blue-5:#31475E;
$blue-6:#6A7C92;
$grey-1:#212121;
$grey-2:#979797;
$grey-3:#A0A0A0;
$grey-4:#9B9B9B;
$grey-5:#909090;
$grey-6:#DBDBDB;
$grey-7:#F6F6F6;
$grey-8:#0F0F0F;
$grey-9:#A2A5A9;
$grey-10:#F0F0F0;
$grey-11:#8A8A8A;
$grey-12:#EFEFEF;
$grey-13:#F7F7F7;
$grey-14:#EAEAEA;
$grey-15:#EEEEEE;
$grey-16:#F4F4F4;
$grey-17:#3F4549;
$grey-18:rgba(0,39,59,0.35);
$grey-19:#ECECEC;
$white-1:#F6F7FA;
$white-2:#E8E8E8;
$white-3:#E2E2E2;
$yellow-1:#F5A623;
$green-1:#88C338;

/* Boder */


/* Box-shadow */

$bsd-1: 0 1px 5px rgba(#000, 0.15);
$bsd-2: 0 8px 20px 0 rgba(224, 224, 224, 0.50);
$bsd-3: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
$bsd-4: 0 10px 24px 0 rgba(0, 0, 0, 0.07);

/* Text-shadow */

$tsd-1: 0 2px 2px rgba(#000, 0.5);