.product-detail {
    padding-top: 120px;
    padding-bottom: 80px;
    background: #FAFAFB;
    &__code {
        @extend .info__title;
        color: #0081E4;
    }
    &__title {
        font-family: Montserrat-Medium;
        font-size: 20px;
    }
    &__text {
        color: #9B9B9B;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    li {
        margin-bottom: 4px;
    }
}

.product-detail-partner {
    background: #FAFAFB;
}