<!-- Begin comment -->
<div class="comment">
    <h2 class="comment__head">
        <span>Bình luận</span>
    </h2>

    <!-- Begin input -->
    <div class="d-sm-flex mb-4">
        <img class="mb-2 mb-sm-0 comment__avata" src="images/dcb.png" alt="">
        <textarea class="comment__input" rows="1" placeholder="Viết bình luận"></textarea>
    </div>
    <!-- End input -->

    <!-- Begin comment lv1 -->
    <div class="d-flex justify-content-between comment__item comment__item--lv1">
        <div class="d-sm-flex">
            <img class="mb-2 mb-sm-0 comment__avata" src="images/dcb.png" alt="">
            <div class="mr-2">
                <div class="mb-1">
                    <a class="comment__uname" href="#">Trần Chí Bình</a>
                    <span class="ml-2 comment__time">2 giờ</span>
                </div>
                <p class="comment__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                <a class="comment__reply" href="#">
                    <img src="images/comment.svg" alt="">Bình luận</a>
            </div>
        </div>
        @include('control.html')
    </div>
    <!-- End comment lv1 -->

    <!-- Begin comment lv2 -->
    <div class="d-flex justify-content-between comment__item comment__item--lv2">
        <div class="d-sm-flex">
            <img class="mb-2 mb-sm-0 comment__avata comment__avata--small" src="images/tln.png" alt="">
            <div class="mr-2">
                <div class="mb-1">
                    <a class="comment__uname" href="#">Nguyễn Thị Long Nữ</a>
                    <span class="ml-2 comment__time">2 giờ</span>
                </div>
                <p class="comment__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
            </div>
        </div>
        @include('control.html')
    </div>
    <div class="d-flex justify-content-between comment__item comment__item--lv2">
        <div class="d-sm-flex">
            <img class="mb-2 mb-sm-0 comment__avata comment__avata--small" src="images/lbc.png" alt="">
            <div class="mr-2">
                <div class="mb-1">
                    <a class="comment__uname" href="#">Lâm Bình Chi</a>
                    <span class="ml-2 comment__time">2 giờ</span>
                </div>
                <p class="comment__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
            </div>
        </div>
        @include('control.html')
    </div>
    <div class="d-sm-flex mb-3 comment__item--lv2">
        <img class="mb-2 mb-sm-0 comment__avata comment__avata--small" src="images/dcb.png" alt="">
        <textarea class="comment__input" rows="1" placeholder="Viết bình luận"></textarea>
    </div>
    <!-- End comment lv2 -->

    <!-- Begin comment lv1 -->
    <div class="d-flex justify-content-between comment__item comment__item--lv1">
        <div class="d-sm-flex">
            <img class="mb-2 mb-sm-0 comment__avata" src="images/dcb.png" alt="">
            <div class="mr-2">
                <div class="mb-1">
                    <a class="comment__uname" href="#">Trần Chí Bình</a>
                    <span class="ml-2 comment__time">2 giờ</span>
                </div>
                <p class="comment__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                <a class="comment__reply" href="#">
                    <img src="images/comment.svg" alt="">Bình luận</a>
            </div>
        </div>
        @include('control.html')
    </div>
    <!-- End comment lv1 -->

    <!-- Begin comment lv2 -->
    <div class="d-flex justify-content-between comment__item comment__item--lv2">
        <div class="d-sm-flex">
            <img class="mb-2 mb-sm-0 comment__avata comment__avata--small" src="images/tln.png" alt="">
            <div class="mr-2">
                <div class="mb-1">
                    <a class="comment__uname" href="#">Nguyễn Thị Long Nữ</a>
                    <span class="ml-2 comment__time">2 giờ</span>
                </div>
                <p class="comment__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
            </div>
        </div>
        @include('control.html')
    </div>
    <div class="d-flex justify-content-between comment__item comment__item--lv2">
        <div class="d-sm-flex">
            <img class="mb-2 mb-sm-0 comment__avata comment__avata--small" src="images/lbc.png" alt="">
            <div class="mr-2">
                <div class="mb-1">
                    <a class="comment__uname" href="#">Lâm Bình Chi</a>
                    <span class="ml-2 comment__time">2 giờ</span>
                </div>
                <p class="comment__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
            </div>
        </div>
        @include('control.html')
    </div>
    <div class="d-sm-flex mb-3 comment__item--lv2">
        <img class="mb-2 mb-sm-0 comment__avata comment__avata--small" src="images/dcb.png" alt="">
        <textarea class="comment__input" rows="1" placeholder="Viết bình luận"></textarea>
    </div>
    <!-- End comment lv2 -->
</div>
<!-- End comment -->