<!-- Begin modal pdf -->
<div class="jsModalPdf modal fade modal-pdf">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title pt-2 pb-2 pl-3">
                    <h2 class="modal-pdf__title">Channuoigiasuc.pdf</h2>
                    <div class="modal-pdf__des">Biểu mẫu loại 1</div>
                </div>
                <button type="button" class="close" data-dismiss="modal">
                    <img class="modal-pdf__icon-close" src="images/ic_close_black_24px.svg" alt="">
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-end mb-2"><a class="modal-pdf__download" href="#"><img src="images/download.svg" alt="">Tải file</a></div>
                <object data="http://eloquentjavascript.net/Eloquent_JavaScript.pdf" type="application/pdf" width="100%" height="100%"></object>
            </div>
        </div>
    </div>
</div>
<!-- End modal pdf -->