<!-- Begin post -->
<div class="post">
    <div class="d-flex justify-content-between post__head">
        <div class="d-flex mr-3 post__user">
            <img class="mr-3 post__avata" src="images/dcb.png" alt="">
            <div>
                <a class="post__uname" href="#">Nguyễn Văn Nam</a>
                <div class="post__time">2 giờ</div>
            </div>
        </div>
        @include('control.html')
    </div>
    <div class="post__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
        <img src="images/b2.png" alt="">
    </div>
    <a class="post__attach" href="#">
        <img class="mr-2" src="images/pdf.svg" alt="">
        <span class="d-inline-block mt-1">Channuoigiasuc.pdf</span>
    </a>
    @include('comment.html')
</div>
<!-- End post -->