@include('../layouts//head.html')
<div class="wrapper">
    @include('../layouts/header.html')
    <main>
        <!-- Begin banner -->
        <section class="banner" style="background:url(images/b17.png) center center / cover">
            <div class="d-flex align-items-center banner__bg mask">
                <div class="container">
                    <h1 class="text-center banner__title">Giới thiệu TVA GROUP</h1>
                </div>
            </div>
        </section>
        <!-- End banner -->

        <div class="container mt-5 pt-2 pb-2">
            <div class="row">
                <div class="col-lg-3 mb-4">
                    <!-- Begin about bar -->
                    <div class="about-bar">
                        <ul class="nav d-block">
                            <li>
                                <a class="active" href="#tab-1" data-toggle="tab">Giới thiệu chung</a>
                            </li>
                            <li>
                                <a href="#tab-2" data-toggle="tab">Nhiệm vụ</a>
                            </li>
                            <li>
                                <a href="#tab-3" data-toggle="tab" href="#">Tầm nhìn</a>
                            </li>
                            <li>
                                <a href="#tab-4" data-toggle="tab" href="#">Nhóm trong công ty</a>
                            </li>
                            <li>
                                <a href="#tab-5" data-toggle="tab" href="#">Hình ảnh lãnh đạo</a>
                            </li>
                            <li>
                                <a href="#tab-6" data-toggle="tab" href="#">Chứng nhận</a>
                            </li>
                            <li>
                                <a href="#tab-7" data-toggle="tab" href="#">Sơ đồ tổ chức</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End about bar -->
                </div>
                <div class="col-lg-9 tab-content">
                    <!-- Begin about content -->
                    <div class="tab-pane fade show active" id="tab-1">
                        <div class="about-content">
                            <h2 class="mb-4 about-content__head">Giới thiệu chung</h2>
                            <div class="mb-4 pb-2 about-content__text1">GIỚI THIỆU CÔNG TY THÁI VIỆT AGRI GROUP</div>
                            <ul>
                                <li>
                                    <span class="about-content__text2">TVA GROUP</span> có Giấy Chứng nhận Đầu tư số 331023000017 do Sở Kế hoạch và Đầu tư Tỉnh
                                    Quảng Nam cấp ngày 25/07/2011.</li>
                                <li>
                                    <span class="about-content__text2">TVA GROUP</span> có tổng số vốn đầu tư 60 tỉ đồng.</li>
                                <li>
                                    <span class="about-content__text2">TVA GROUP</span> là một Công ty Thành viên của Tập đoàn THAIFOOD Group chuyên sản xuất
                                    thực phẩm theo mô hình khép kín.</li>
                                <li>
                                    <span class="about-content__text2">TVA GROUP</span> vận hành một nhà máy sản xuất thức ăn chăn nuôi với công xuất 36.000
                                    tấn/năm.
                                </li>
                                <li>
                                    <span class="about-content__text2">TVA GROUP</span> được đầu tư bởi nguồn vốn Thái Lan và được điều hành bởi Ban Quản trị
                                    Thái Lan.</li>
                            </ul>
                            <img class="mw-100" src="images/b3.png" alt="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3 about-content__text1">TẦM NHÌN</div>
                                    <ul>
                                        <li>Sẽ là tập đoàn dẫn đầu trong Lĩnh vực Thức ăn Chăn nuôi tại miền Trung Việt Nam vào
                                            năm 2012.
                                        </li>
                                        <li>Sẽ hoàn thành quy trình khép kín trong Lĩnh vực Thức ăn Chăn nuôi nhằm hỗ trợ cho
                                            nền Nông nghiệp của miền Trung Việt Nam vào năm 2014.</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 about-content__text1">SẢN PHẨM</div>
                                    <div>Sản phẩm của TVA GROUP</div>
                                    <ol>
                                        <li>Thức ăn cho Heo</li>
                                        <li>Thức ăn cho Vịt</li>
                                        <li>Thức ăn cho Gà</li>
                                        <li>hức ăn cho Cút</li>
                                    </ol>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 about-content__text1">MỤC TIÊU</div>
                                    <ul>
                                        <li>Sản xuất theo phương pháp khoa học những sản phẩm thức ăn chăn nuôi chất lượng theo
                                            tiêu chuẩn quốc tế và phù hợp với đặc điểm của từng vùng cụ thể ở Việt Nam.</li>
                                        <li>Hỗ trợ và giải đáp mọi yêu cầu nhằm mang đến cho khách hàng những lợi ích và sự hài
                                            lòng cao nhất.</li>
                                        <li>Đóng góp cho sự phát triển lĩnh vực sản xuất và dinh dưỡng của thức ăn chăn nuôi.
                                        </li>
                                        <li>Xây dựng và phát triển những kỹ năng về con người trong nhà máy cho những cư dân
                                            địa phương làm việc tại đây.</li>
                                        <li>Hoàn thành Quy trình Chế biến Thức ăn cho thị trường Việt Nam vào năm 2016</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 about-content__text1">NHIỆM VỤ</div>
                                    <ul>
                                        <li>Sản xuất và cung cấp những sản phẩm chất lượng cao dựa trên những tiêu chuẩn quốc
                                            tế và phong cách chuyên nghiệp.</li>
                                        <li>Phục vụ tận tâm và hỗ trợ khách hàng nhằm thỏa mãn và mang lại cho khách hàng những
                                            lợi ích tốt nhất.</li>
                                        <li>Vận hành quá trình sản xuất một cách an toàn và bảo vệ môi trường.</li>
                                        <li>Đảm bảo về dinh dưỡng và vệ sinh của sản phẩm. </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End about content -->

                    <!-- Begin about content -->
                    <div class="tab-pane fade" id="tab-2">
                        <div class="about-content">
                            <h2 class="mb-4 about-content__head">Giới thiệu chung</h2>
                            <div class="mb-4 pb-2 about-content__text1">GIỚI THIỆU CÔNG TY THÁI VIỆT AGRI GROUP</div>
                        </div>
                    </div>
                    <!-- End about content -->

                    <!-- Begin about content -->
                    <div class="tab-pane fade" id="tab-3">
                        <div class="about-content">
                            <h2 class="mb-4 about-content__head">Giới thiệu chung 3</h2>
                            <div class="mb-4 pb-2 about-content__text1">GIỚI THIỆU CÔNG TY THÁI VIỆT AGRI GROUP</div>
                        </div>
                    </div>
                    <!-- End about content -->

                    <!-- Begin about content -->
                    <div class="tab-pane fade" id="tab-4">
                        <div class="about-content">
                            <h2 class="mb-4 about-content__head">Giới thiệu chung 4</h2>
                            <div class="mb-4 pb-2 about-content__text1">GIỚI THIỆU CÔNG TY THÁI VIỆT AGRI GROUP</div>
                        </div>
                    </div>
                    <!-- End about content -->

                    <!-- Begin about content -->
                    <div class="tab-pane fade" id="tab-5">
                        <div class="about-content">
                            <h2 class="mb-4 about-content__head">Giới thiệu chung 5</h2>
                            <div class="mb-4 pb-2 about-content__text1">GIỚI THIỆU CÔNG TY THÁI VIỆT AGRI GROUP</div>
                        </div>
                    </div>
                    <!-- End about content -->

                    <!-- Begin about content -->
                    <div class="tab-pane fade" id="tab-6">
                        <div class="about-content">
                            <h2 class="mb-4 about-content__head">Giới thiệu chung 6</h2>
                            <div class="mb-4 pb-2 about-content__text1">GIỚI THIỆU CÔNG TY THÁI VIỆT AGRI GROUP</div>
                        </div>
                    </div>
                    <!-- End about content -->

                    <!-- Begin about content -->
                    <div class="tab-pane fade" id="tab-7">
                        <div class="about-content">
                            <h2 class="mb-4 about-content__head">Giới thiệu chung 7</h2>
                            <div class="mb-4 pb-2 about-content__text1">GIỚI THIỆU CÔNG TY THÁI VIỆT AGRI GROUP</div>
                        </div>
                    </div>
                    <!-- End about content -->
                </div>
            </div>
        </div>
    </main>
    @include('../layouts/footer.html')
</div>
@include('../layouts/foot.html')