@include('../layouts//head.html')
<div class="wrapper">
    @include('../layouts/header.html')
    <main class="pt-5 contact">
        <div class="container pt-2">
            <h2 class="mb-4 pb-2 contact__text4">Liên hệ với chúng tôi</h2>
            <div class="row">
                <div class="col-md-6 mb-4 pb-3">
                    <div class="contact__input">
                        <div class="mb-3 contact__text2">Họ và tên</div>
                        <input class="mb-2" type="text" placeholder="Nhập tên">
                        <div class="mb-3 pt-3 contact__text2">Email</div>
                        <input class="mb-2" type="text" placeholder="Nhập email">
                        <div class="mb-3 pt-3 contact__text2">Tiêu đề</div>
                        <input class="mb-2" type="text" placeholder="Nhập tiêu đề">
                        <div class="mb-3 pt-3 contact__text2">Nội dung</div>
                        <textarea class="mb-2" rows="5" placeholder="Nhập nội dung"></textarea>
                    </div>
                    <div class="pt-3">
                        <a class="btn-blue" href="#">Gửi</a>
                    </div>
                </div>
                <div class="col-md-6 mb-4 pb-3">
                    <div class="mb-4 pt-4 contact__text3">Công ty TNHH Thái Việt Agri Group</div>
                    <div class="mb-3 pt-1">
                        <span class="mr-1 contact__text2">Địa chỉ:</span>
                        <span class="contact__text1">Hà My Tây – Điện Dương – Điện Bàn – Quảng Nam</span>
                    </div>
                    <div class="mb-3 pt-1">
                        <span class="mr-1 contact__text2">Điện thoại:</span>
                        <span class="contact__text1">0236 3923 911</span>
                    </div>
                    <div class="mb-3 pt-1">
                        <span class="mr-1 contact__text2">Fax:</span>
                        <span class="contact__text1">0236 3941 456</span>
                    </div>
                    <div class="mb-3 pt-1">
                        <span class="mr-1 contact__text2">Email:</span>
                        <span class="contact__text1">info@tva-group.com.vn</span>
                    </div>
                </div>
            </div>

        </div>
    </main>
    @include('../layouts/footer.html')
</div>
@include('../layouts/foot.html')