@include('../layouts//head.html')
<div class="wrapper">
    @include('../layouts/header.html')
    <main class="show-list">
        <div class="container">
            <div class="d-md-flex justify-content-md-between align-items-md-center pb-2 show-list__head">
                <h2 class="mb-2 show-list__title">
                    <img src="images/ic_receipt_white_24px.svg" alt=""> DANH SÁCH BIỂU MẪU</h2>
                <input class="mb-2 show-list__search" type="text" placeholder="Tìm kiếm biểu mẫu">
            </div>
            <div class="show-list__content">
                <!-- Begin nav tabs -->
                <ul class="nav d-flex flex-wrap justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab-1">Biểu mẫu loại 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-2">Biểu mẫu loại 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-3">Biểu mẫu loại 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-4">Biểu mẫu loại 4</a>
                    </li>
                </ul>
                <!-- End nav tabs -->

                <!-- Begin tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-1">
                        <div class="row s-r-10">
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="jsCallModalPdf d-flex align-items-center show-list__item show-list__item--form" href="javascript:void(0)">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="jsCallModalPdf d-flex align-items-center show-list__item show-list__item--form" href="javascript:void(0)">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="jsCallModalPdf d-flex align-items-center show-list__item show-list__item--form" href="javascript:void(0)">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="jsCallModalPdf d-flex align-items-center show-list__item show-list__item--form" href="javascript:void(0)">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="jsCallModalPdf d-flex align-items-center show-list__item show-list__item--form" href="javascript:void(0)">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="jsCallModalPdf d-flex align-items-center show-list__item show-list__item--form" href="javascript:void(0)">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="jsCallModalPdf d-flex align-items-center show-list__item show-list__item--form" href="javascript:void(0)">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="jsCallModalPdf d-flex align-items-center show-list__item show-list__item--form" href="javascript:void(0)">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="jsCallModalPdf d-flex align-items-center show-list__item show-list__item--form" href="javascript:void(0)">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="jsCallModalPdf d-flex align-items-center show-list__item show-list__item--form" href="javascript:void(0)">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="jsCallModalPdf d-flex align-items-center show-list__item show-list__item--form" href="javascript:void(0)">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="jsCallModalPdf d-flex align-items-center show-list__item show-list__item--form" href="javascript:void(0)">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="jsCallModalPdf d-flex align-items-center show-list__item show-list__item--form" href="javascript:void(0)">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="jsCallModalPdf d-flex align-items-center show-list__item show-list__item--form" href="javascript:void(0)">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="jsCallModalPdf d-flex align-items-center show-list__item show-list__item--form" href="javascript:void(0)">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                        </div>
                        <div class="pt-2 text-center">
                            <a class="show-list__load" href="#">
                                <img src="images/load.svg" alt="">Tải thêm</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-2">
                        <div class="row s-r-10">
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                        </div>
                        <div class="pt-2 text-center">
                            <a class="show-list__load" href="#">
                                <img src="images/load.svg" alt="">Tải thêm</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-3">
                        <div class="row s-r-10">
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                        </div>
                        <div class="pt-2 text-center">
                            <a class="show-list__load" href="#">
                                <img src="images/load.svg" alt="">Tải thêm</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-4">
                        <div class="row s-r-10">
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <a class="d-flex align-items-center show-list__item show-list__item--form" href="#">
                                    <img class="mr-2 ml-3" src="images/pdf.svg" alt="">
                                    <div class="show-list__text4">Channuoigiasuc.pdf</div>
                                </a>
                            </div>
                        </div>
                        <div class="pt-2 text-center">
                            <a class="show-list__load" href="#">
                                <img src="images/load.svg" alt="">Tải thêm</a>
                        </div>
                    </div>
                </div>
                <!-- End tab panes -->
            </div>
        </div>
    </main>
    @include('../layouts/footer.html') @include('../partials/modal-pdf.html')
</div>
@include('../layouts/foot.html')