@include('../layouts//head.html')
<div class="wrapper">
    @include('../layouts/header.html')
    <main>
        <!-- Begin banner -->
        <section class="banner" style="background:url(images/b9.png) center center / cover">
            <div class="d-flex align-items-center banner__bg mask">
                <div class="container">
                    <h1 class="text-center banner__title">Tuyển dụng TVA GROUP</h1>
                </div>
            </div>
        </section>
        <!-- End banner -->

        <!-- Begin news list -->
        <section class="news-list">
            <div class="container">
                <h2 class="mb-4 text-center news-list__head">Tin tức tuyển dụng</h2>
                <div class="row pt-2">
                    <div class="col-md-6 col-xl-4 mb-4 pt-4">
                        <div class="news-list__item">
                            <div class="zoom-outer">
                                <img class="w-100 zoom-inner" src="images/b10.png" alt="">
                            </div>
                            <div class="p-4">
                                <a class="d-inline-block mw-100 mb-2 text-truncate news-list__title" href="news-detail.html">Tuyển dụng tháng 04/2017</a>
                                <div class="d-flex align-items-center mb-3 news-list__time">
                                    <img class="mr-2" src="images/time.svg" alt="">
                                    <span class="mr-2 ml-1">09:30</span>
                                    <span class="ml-1">12/12/2017</span>
                                </div>
                                <div class="news-list__summary">Công ty TNHH Thái Việt Agri Group là doanh nghiệp hoạt động trong lĩnh vực sản xuất thức
                                    ăn gia súc, gia cầm... Đến với TVAG bạn sẽ được làm việc trong môi trường thân thiện,
                                    chuyên nghiệp.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-4 pt-4">
                        <div class="news-list__item">
                            <div class="zoom-outer">
                                <img class="w-100 zoom-inner" src="images/b11.png" alt="">
                            </div>
                            <div class="p-4">
                                <a class="d-inline-block mw-100 mb-2 text-truncate news-list__title" href="news-detail.html">Tuyển dụng tháng 04/2017</a>
                                <div class="d-flex align-items-center mb-3 news-list__time">
                                    <img class="mr-2" src="images/time.svg" alt="">
                                    <span class="mr-2 ml-1">09:30</span>
                                    <span class="ml-1">12/12/2017</span>
                                </div>
                                <div class="news-list__summary">Công ty TNHH Thái Việt Agri Group là doanh nghiệp hoạt động trong lĩnh vực sản xuất thức
                                    ăn gia súc, gia cầm... Đến với TVAG bạn sẽ được làm việc trong môi trường thân thiện,
                                    chuyên nghiệp.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-4 pt-4">
                        <div class="news-list__item">
                            <div class="zoom-outer">
                                <img class="w-100 zoom-inner" src="images/b12.png" alt="">
                            </div>
                            <div class="p-4">
                                <a class="d-inline-block mw-100 mb-2 text-truncate news-list__title" href="news-detail.html">Tuyển dụng tháng 04/2017</a>
                                <div class="d-flex align-items-center mb-3 news-list__time">
                                    <img class="mr-2" src="images/time.svg" alt="">
                                    <span class="mr-2 ml-1">09:30</span>
                                    <span class="ml-1">12/12/2017</span>
                                </div>
                                <div class="news-list__summary">Công ty TNHH Thái Việt Agri Group là doanh nghiệp hoạt động trong lĩnh vực sản xuất thức
                                    ăn gia súc, gia cầm... Đến với TVAG bạn sẽ được làm việc trong môi trường thân thiện,
                                    chuyên nghiệp.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-4 pt-4">
                        <div class="news-list__item">
                            <div class="zoom-outer">
                                <img class="w-100 zoom-inner" src="images/b13.png" alt="">
                            </div>
                            <div class="p-4">
                                <a class="d-inline-block mw-100 mb-2 text-truncate news-list__title" href="news-detail.html">Tuyển dụng tháng 04/2017</a>
                                <div class="d-flex align-items-center mb-3 news-list__time">
                                    <img class="mr-2" src="images/time.svg" alt="">
                                    <span class="mr-2 ml-1">09:30</span>
                                    <span class="ml-1">12/12/2017</span>
                                </div>
                                <div class="news-list__summary">Công ty TNHH Thái Việt Agri Group là doanh nghiệp hoạt động trong lĩnh vực sản xuất thức
                                    ăn gia súc, gia cầm... Đến với TVAG bạn sẽ được làm việc trong môi trường thân thiện,
                                    chuyên nghiệp.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-4 pt-4">
                        <div class="news-list__item">
                            <div class="zoom-outer">
                                <img class="w-100 zoom-inner" src="images/b14.png" alt="">
                            </div>
                            <div class="p-4">
                                <a class="d-inline-block mw-100 mb-2 text-truncate news-list__title" href="news-detail.html">Tuyển dụng tháng 04/2017</a>
                                <div class="d-flex align-items-center mb-3 news-list__time">
                                    <img class="mr-2" src="images/time.svg" alt="">
                                    <span class="mr-2 ml-1">09:30</span>
                                    <span class="ml-1">12/12/2017</span>
                                </div>
                                <div class="news-list__summary">Công ty TNHH Thái Việt Agri Group là doanh nghiệp hoạt động trong lĩnh vực sản xuất thức
                                    ăn gia súc, gia cầm... Đến với TVAG bạn sẽ được làm việc trong môi trường thân thiện,
                                    chuyên nghiệp.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-4 pt-4">
                        <div class="news-list__item">
                            <div class="zoom-outer">
                                <img class="w-100 zoom-inner" src="images/b15.png" alt="">
                            </div>
                            <div class="p-4">
                                <a class="d-inline-block mw-100 mb-2 text-truncate news-list__title" href="news-detail.html">Tuyển dụng tháng 04/2017</a>
                                <div class="d-flex align-items-center mb-3 news-list__time">
                                    <img class="mr-2" src="images/time.svg" alt="">
                                    <span class="mr-2 ml-1">09:30</span>
                                    <span class="ml-1">12/12/2017</span>
                                </div>
                                <div class="news-list__summary">Công ty TNHH Thái Việt Agri Group là doanh nghiệp hoạt động trong lĩnh vực sản xuất thức
                                    ăn gia súc, gia cầm... Đến với TVAG bạn sẽ được làm việc trong môi trường thân thiện,
                                    chuyên nghiệp.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-3 text-center"><a href="#"><img src="images/load.svg" alt=""></a></div>
            </div>
        </section>
        <!-- End news list -->
    </main>
    @include('../layouts/footer.html')
</div>
@include('../layouts/foot.html')