@include('../layouts//head.html')
<div class="wrapper">
    @include('../layouts/header.html')
    <main>
        <!-- Begin banner -->
        <section class="banner" style="background:url(images/b16.png) center center / cover">
            <div class="d-flex align-items-center banner__bg mask">
                <div class="container">
                    <h1 class="text-center banner__title">Tuyển dụng tháng 04/2017</h1>
                </div>
            </div>
        </section>
        <!-- End banner -->
        <div class="container pt-5 mt-2">
            <div class="row">
                <div class="col-xl-8 mb-5">
                    <h2 class="mb-3 news-detail__title1">Thông báo tuyển dụng tháng 04/2017</h2>
                    <div class="d-flex align-items-center mb-4 pt-1 news-list__time">
                        <img class="mr-2" src="images/time.svg" alt="">
                        <span class="mr-2 ml-1">09:30</span>
                        <span class="ml-1">12/12/2017</span>
                    </div>
                    <div class="pt-2 new-detail__content">
                        <h1 class="m-0">This is CKEditor</h1>
                    </div>
                </div>
                <div class="col-xl-4 mb-5">
                    <!-- Begin news involve -->
                    <h2 class="mb-4 news-detail__title2">Tin tuyển dụng liên quan</h2>
                    <div class="row">
                        <div class="col-md-6 col-xl-12 mb-4 pt-1">
                            <div class="news-list__item">
                                <div class="zoom-outer">
                                    <img class="w-100 zoom-inner" src="images/b12.png" alt="">
                                </div>
                                <div class="p-4">
                                    <a class="d-inline-block mw-100 mb-2 text-truncate news-list__title" href="news-detail.html">Tuyển dụng tháng 04/2017</a>
                                    <div class="d-flex align-items-center news-list__time">
                                        <img class="mr-2" src="images/time.svg" alt="">
                                        <span class="mr-2 ml-1">09:30</span>
                                        <span class="ml-1">12/12/2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-12 mb-4 pt-1">
                            <div class="news-list__item">
                                <div class="zoom-outer">
                                    <img class="w-100 zoom-inner" src="images/b13.png" alt="">
                                </div>
                                <div class="p-4">
                                    <a class="d-inline-block mw-100 mb-2 text-truncate news-list__title" href="news-detail.html">Tuyển dụng tháng 04/2017</a>
                                    <div class="d-flex align-items-center news-list__time">
                                        <img class="mr-2" src="images/time.svg" alt="">
                                        <span class="mr-2 ml-1">09:30</span>
                                        <span class="ml-1">12/12/2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-12 mb-4 pt-1">
                            <div class="news-list__item">
                                <div class="zoom-outer">
                                    <img class="w-100 zoom-inner" src="images/b14.png" alt="">
                                </div>
                                <div class="p-4">
                                    <a class="d-inline-block mw-100 mb-2 text-truncate news-list__title" href="news-detail.html">Tuyển dụng tháng 04/2017</a>
                                    <div class="d-flex align-items-center news-list__time">
                                        <img class="mr-2" src="images/time.svg" alt="">
                                        <span class="mr-2 ml-1">09:30</span>
                                        <span class="ml-1">12/12/2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-100 pt-1 text-center">
                            <a class="btn-blue" href="#">Xem thêm</a>
                        </div>
                    </div>
                    <!-- End news involve -->
                </div>
            </div>
        </div>
    </main>
    @include('../layouts/footer.html')
</div>
@include('../layouts/foot.html')