@include('../layouts//head.html')
<div class="wrapper">
    @include('../layouts/header.html')
    <main>
        <!-- Begin product-new -->
        <section class="product-new">
            <div class="container">
                <div id="carouselOne" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <h2 class="text-center text-md-left mb-4 pt-2 product-new__head">SẢN PHẨM MỚI A</h2>
                                    <p class="text-center text-md-left mx-auto ml-md-0 product-new__des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    <p class="text-center text-md-left mx-auto ml-md-0 product-new__des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    <!-- <div id="productNew" class="owl-carousel owl-theme pt-3 mb-3">
                                        <img src="images/bb1.png" alt="">
                                        <img src="images/bb2.png" alt="">
                                        <img src="images/bb3.png" alt="">
                                        <img src="images/bb4.png" alt="">
                                        <img src="images/bb5.png" alt="">
                                    </div> -->
                                    <div class="text-center text-md-left">
                                        <a class="mt-3 btn-white" href="#">XEM CHI TIẾT</a>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 text-center">
                                    <img class="mw-100" src="images/bb3.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <h2 class="text-center text-md-left mb-4 pt-2 product-new__head">SẢN PHẨM MỚI B</h2>
                                    <p class="text-center text-md-left mx-auto ml-md-0 product-new__des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    <p class="text-center text-md-left mx-auto ml-md-0 product-new__des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    <!-- <div id="productNew" class="owl-carousel owl-theme pt-3 mb-3">
                                        <img src="images/bb1.png" alt="">
                                        <img src="images/bb2.png" alt="">
                                        <img src="images/bb3.png" alt="">
                                        <img src="images/bb4.png" alt="">
                                        <img src="images/bb5.png" alt="">
                                    </div> -->
                                    <div class="text-center text-md-left">
                                        <a class="mt-3 btn-white" href="#">XEM CHI TIẾT</a>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 text-center">
                                    <img class="mw-100" src="images/bb3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <li data-target="#carouselOne" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselOne" data-slide-to="1"></li>
                    </ol>
                </div>
            </div>
        </section>
        <!-- End product-new -->

        @include('../layouts/product-one.html')

        <!-- Begin product two -->
        <section class="product-two pt-4">
            <div class="container">
                <h2 class="text-center mt-5 mb-4 pt-5 text-white product-two__head">SẢN PHẨM HEO THỊT</h2>
                <p class="text-center mx-auto mb-4 pb-3 text-white product-two__des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. </p>

                <div id="carouselTwo" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row row-20">
                                <div class="col-lg-6 col-20">
                                    <div class="row row-20">
                                        <div class="col-sm-12 mb-35 col-20">
                                            <div class="row m-0">
                                                <div class="col-sm-8 p-0">
                                                    <img class="w-100" src="images/4.png" alt="">
                                                </div>
                                                <div class="col-sm-4 p-0">
                                                    <div class="p-4 h-100 bg-white">
                                                        <a class="d-inline-block mb-3 product-two__title" href="#">Heo Thịt 1</a>
                                                        <p class="mb-0 product-two__text product-two__excerpt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                            tempor incididunt </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-35 col-20">
                                            <img class="w-100" src="images/3.png" alt="">
                                            <div class="p-4 bg-white">
                                                <a class="d-inline-block mb-3 product-two__title" href="#">Heo Thịt 1</a>
                                                <p class="mb-0 product-two__text product-two__excerpt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                    incididunt </p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-35 col-20">
                                            <img class="w-100" src="images/2.png" alt="">
                                            <div class="p-4 bg-white">
                                                <a class="d-inline-block mb-3 product-two__title" href="#">Heo Thịt 1</a>
                                                <p class="mb-0 product-two__text product-two__excerpt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                    incididunt </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-35 col-20">
                                    <img class="w-100" src="images/1.png" alt="">
                                    <div class="p-4 bg-white">
                                        <a class="d-inline-block mb-3 product-two__title" href="#">Heo Thịt 1</a>
                                        <p class="mb-0 product-two__text product-two__excerpt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row row-20">
                                <div class="col-lg-6 col-20">
                                    <div class="row row-20">
                                        <div class="col-sm-12 mb-35 col-20">
                                            <div class="row m-0">
                                                <div class="col-sm-8 p-0">
                                                    <img class="w-100" src="images/4.png" alt="">
                                                </div>
                                                <div class="col-sm-4 p-0">
                                                    <div class="p-4 h-100 bg-white">
                                                        <a class="d-inline-block mb-3 product-two__title" href="#">Heo Thịt 1</a>
                                                        <p class="mb-0 product-two__text product-two__excerpt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                            tempor incididunt </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-35 col-20">
                                            <img class="w-100" src="images/3.png" alt="">
                                            <div class="p-4 bg-white">
                                                <a class="d-inline-block mb-3 product-two__title" href="#">Heo Thịt 1</a>
                                                <p class="mb-0 product-two__text product-two__excerpt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                    incididunt </p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-35 col-20">
                                            <img class="w-100" src="images/2.png" alt="">
                                            <div class="p-4 bg-white">
                                                <a class="d-inline-block mb-3 product-two__title" href="#">Heo Thịt 1</a>
                                                <p class="mb-0 product-two__text product-two__excerpt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                    incididunt </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-35 col-20">
                                    <img class="w-100" src="images/1.png" alt="">
                                    <div class="p-4 bg-white">
                                        <a class="d-inline-block mb-3 product-two__title" href="#">Heo Thịt 1</a>
                                        <p class="mb-0 product-two__text product-two__excerpt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselTwo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselTwo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </section>
        <!-- End product two -->

        @include('../layouts/partner.html')
    </main>
    @include('../layouts/footer.html')
</div>
@include('../layouts/foot.html')