@include('../layouts//head.html')
<div class="wrapper">
    @include('../layouts/header.html')
    <main class="show-list">
        <div class="container">
            <div class="d-md-flex justify-content-md-between align-items-md-center pb-2 show-list__head">
                <h2 class="mb-2 show-list__title">
                    <img src="images/ic_list_white_24px.svg" alt=""> DANH SÁCH NHÂN VIÊN</h2>
                <input class="mb-2 show-list__search" type="text" placeholder="Tìm kiếm nhân viên">
            </div>
            <div class="show-list__content">
                <!-- Begin nav tabs -->
                <ul class="nav d-flex flex-wrap justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab-1">Phòng ban 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-2">Phòng ban 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-3">Phòng ban 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-4">Phòng ban 4</a>
                    </li>
                </ul>
                <!-- End nav tabs -->

                <!-- Begin tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-1">
                        <div class="row s-r-10">
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dcb.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/lbc.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dq.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dcb.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/lbc.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dq.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dcb.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/lbc.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dq.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dcb.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/lbc.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dq.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2 text-center">
                            <a class="show-list__load" href="#">
                                <img src="images/load.svg" alt="">Tải thêm</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-2">
                        <div class="row s-r-10">
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dcb.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/lbc.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dq.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dcb.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/lbc.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dq.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dcb.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/lbc.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dq.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dcb.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/lbc.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dq.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2 text-center">
                            <a class="show-list__load" href="#">
                                <img src="images/load.svg" alt="">Tải thêm</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-3">
                        <div class="row s-r-10">
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dcb.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/lbc.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dq.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dcb.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/lbc.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dq.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dcb.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/lbc.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dq.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dcb.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/lbc.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dq.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2 text-center">
                            <a class="show-list__load" href="#">
                                <img src="images/load.svg" alt="">Tải thêm</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-4">
                        <div class="row s-r-10">
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dcb.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/lbc.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dq.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dcb.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/lbc.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dq.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dcb.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/lbc.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dq.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dcb.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/lbc.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 s-p-10 mb-4">
                                <div class="d-flex show-list__item">
                                    <img class="show-list__avata" src="images/dq.png" alt="">
                                    <div class="show-list__fix-width">
                                        <a class="d-inline-block mw-100 text-truncate show-list__text1" href="#">GĐ. Đỗ Xuân Phúc</a>
                                        <div class="d-flex mb-1">
                                            <span class="show-list__text2">ĐTDĐ:</span>
                                            <span class="text-truncate show-list__text3">0969889999</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="show-list__text2">Email:</span>
                                            <span class="text-truncate show-list__text3">doxuanphuc@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2 text-center">
                            <a class="show-list__load" href="#">
                                <img src="images/load.svg" alt="">Tải thêm</a>
                        </div>
                    </div>
                </div>
                <!-- End tab panes -->
            </div>
        </div>
    </main>
    @include('../layouts/footer.html')
</div>
@include('../layouts/foot.html')