<!-- Begin footer -->
<footer class="footer" style="background:url(images/b1.png) center center / cover">
    <div class="pt-5 pb-5 footer__bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xl-4">
                    <div class="row">
                        <div class="col-sm-7 col-xl-8 mb-4 mb-xl-0">
                            <img class="mw-100 mb-3" src="images/logo2.png" alt="">
                            <div class="footer__text">Copyright © 2017 Công ty
                                <br>TNHH THÁI VIỆT SWINE LINE</div>
                        </div>
                        <div class="col-sm-5 col-xl-4 d-flex flex-column mb-4 mb-xl-0">
                            <div class="mb-3 footer__title">Danh mục</div>
                            <a class="mb-2 footer__text" href="#">Giới thiệu</a>
                            <a class="mb-2 footer__text" href="#">Sản phẩm</a>
                            <a class="mb-2 footer__text" href="#">Nội bộ</a>
                            <a class="mb-2 footer__text" href="#">Tin tức</a>
                            <a class="mb-2 footer__text" href="#">Tuyển dụng</a>
                            <a class="mb-2 footer__text" href="#">Liên hệ</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xl-2 pr-xl-0 mb-4 mb-xl-0">
                    <div class="mb-3 footer__title">Thông tin</div>
                    <div class="mb-1 footer__title">ĐỊA CHỈ</div>
                    <div class="mb-2 footer__text">Tầng 15 - 02 Quang Trung, Hải Châu, Đà Nẵng</div>
                    <div class="mb-1 footer__title">SỐ ĐIỆN THOẠI</div>
                    <div class="mb-2 footer__text">0236 3923 911</div>
                    <div class="mb-1 footer__title">EMAIL</div>
                    <div class="mb-2 footer__text">info@tva-group.com.vn</div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-2 mb-4 mb-sm-0">
                    <div class="mb-3 footer__title">Theo dõi</div>
                    <div class="mb-3 footer__social">
                        <a href="#">
                            <img src="images/facebook-with-circle.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="images/youtube-with-circle.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="images/google+-with-circle.svg" alt="">
                        </a>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="mr-1 footer__text">Thiết kế bởi </div>
                        <a class="footer__author" href="http://minaworks.vn/" target="_blank"><img src="images/mw.png" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <img class="w-100" src="images/gmap.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End footer -->

@include('../partials/modal-login.html')