<!-- Bengin partner -->
<section class="partner">
    <div class="container">
        <h2 class="text-center partner__title">ĐỐI TÁC</h2>
        <div class="jsPartnerOwlCarousel owl-carousel owl-theme">
            <div class="p-1">
                <a class="partner__item" href="#">
                    <img src="images/l1.png" alt="">
                </a>
            </div>
            <div class="p-1">
                <a class="partner__item" href="#">
                    <img src="images/l2.png" alt="">
                </a>
            </div>
            <div class="p-1">
                <a class="partner__item" href="#">
                    <img src="images/l3.png" alt="">
                </a>
            </div>
            <div class="p-1">
                <a class="partner__item" href="#">
                    <img src="images/l4.png" alt="">
                </a>
            </div>
            <div class="p-1">
                <a class="partner__item" href="#">
                    <img src="images/l5.png" alt="">
                </a>
            </div>
            <div class="p-1">
                <a class="partner__item" href="#">
                    <img src="images/l6.png" alt="">
                </a>
            </div>
            <!-- <a class="partner__item" href="#">
                <img src="images/l1.png" alt="">
            </a>
            <a class="partner__item" href="#">
                <img src="images/l2.png" alt="">
            </a>
            <a class="partner__item" href="#">
                <img src="images/l3.png" alt="">
            </a>
            <a class="partner__item" href="#">
                <img src="images/l4.png" alt="">
            </a>
            <a class="partner__item" href="#">
                <img src="images/l5.png" alt="">
            </a>
            <a class="partner__item" href="#">
                <img src="images/l6.png" alt="">
            </a> -->
        </div>
    </div>
</section>
<!-- End partner -->