<!-- Begin product one -->
<section class="product-one pt-5 pb-4 m-2">
    <div class="container">
        <h2 class="text-center mb-4 pt-4 product-one__head">THỨC ĂN CHĂN NUÔI</h2>
        <p class="text-center mx-auto mb-5 pb-3 product-one__des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        <div id="productOne" class="owl-carousel owl-theme">
            <div class="product-one__item">
                <img src="images/img1.png" alt="">
                <a class="d-flex align-items-center p-3 product-one__title" href="#">
                    <span class="product-one__text1" style="color: #3E4095;">A614</span>
                    <span class="product-one__text2">Hỗn hợp Heo đẻ
                        <br>(từ 18 tuần - loại)</span>
                </a>
            </div>
            <div class="product-one__item">
                <img src="images/img1.png" alt="">
                <a class="d-flex align-items-center p-3 product-one__title" href="#">
                    <span class="product-one__text1" style="color: #984278;">A614</span>
                    <span class="product-one__text2">Hỗn hợp Heo đẻ
                        <br>(từ 18 tuần - loại)</span>
                </a>
            </div>
            <div class="product-one__item">
                <img src="images/img1.png" alt="">
                <a class="d-flex align-items-center p-3 product-one__title" href="#">
                    <span class="product-one__text1" style="color: #DE6701;">A614</span>
                    <span class="product-one__text2">Hỗn hợp Heo đẻ
                        <br>(từ 18 tuần - loại)</span>
                </a>
            </div>
            <div class="product-one__item">
                <img src="images/img1.png" alt="">
                <a class="d-flex align-items-center p-3 product-one__title" href="#">
                    <span class="product-one__text1" style="color: #ED1C25;">A614</span>
                    <span class="product-one__text2">Hỗn hợp Heo đẻ
                        <br>(từ 18 tuần - loại)</span>
                </a>
            </div>
            <div class="product-one__item">
                <img src="images/img1.png" alt="">
                <a class="d-flex align-items-center p-3 product-one__title" href="#">
                    <span class="product-one__text1" style="color: rgb(9, 206, 98);">A614</span>
                    <span class="product-one__text2">Hỗn hợp Heo đẻ
                        <br>(từ 18 tuần - loại)</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End product one -->